@font-face {
  font-family: Kumbh Sans;
  src: url("src/KumbhSans-Regular.woff");
}

@font-face {
  font-family: Kumbh Sans;
  src: url("src/KumbhSans-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: Kumbh Sans;
  src: url("src/KumbhSans-Light.woff");
  font-weight: light;
}

body {
    background-color: #191919;
    color: white;
    background-image: url("src/sunset-header-low.png");
    background-image: url("src/sunset-header.png");
    background-blend-mode: color-dodge;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1.title {
    text-align: center;
    font-size: 75px;
    padding: 65px;
    font-family: Google Sans, Kumbh Sans, monospace;
}

.parallax {
  background-color: #272727aa;
  transition-duration: 0.5s
  /*background-image: url("src/sunset-header.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center 65%;
  background-repeat: no-repeat;*/
}

.parallax:hover {
  background-color: #27272755;
  transition-duration: 0.5s
}

.collapsible {
  background-color: #27272799;
  color: #dedede;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  font-family: Google Sans, Kumbh Sans, monospace;
  transition-duration: 0.5s;
}

.active, .collapsible:hover {
  background-color: #242424dd;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #31313177;
  font-family: Google Sans, Kumbh Sans, monospace;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: upper-roman;
}

p.quote {
    font-size: 24px;
    text-align: right;
}

h2.quote {
    font-size: 16px;
    text-align: right;
}

table {
  padding: 10px;
}